@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Syne Mono', monospace;
  color: #C4C7C5;
  background-color: black;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.thingies {
  flex: 1 1 30%;
  margin: 10px;
  min-width: 250px;
  text-align: center;
}

h1 {
  margin-bottom: 0;
}

form {
  padding-top: 10px;
}